body{
    margin: 0;
 }
header {
background-color:  rgb(252, 247, 239);

}
.logo{
    margin: 20px;
}
.navbar{
    display: flex;
}
ul{
    display:flex;
    list-style:none;

}
li{
    margin-left: 40px;
    margin-top: 15px;

}
.login{
    background-color:coral;
    border: none;
    color:white;
    width: 70px;
    height: 30px;
    margin-top: 8px;
    margin-left: 25px;
}

.title1{
    display:flex;

    margin-right: 260px;
}
.big{
    width: 40%;
    margin-left:90px;
    margin-top: 40px;
}
#Big_pic{
margin-left:90px;

}

#h3{
    width:20 ;
    margin-left: 60px;
    margin-top: 20px;
 }
#img1{
    width: 15%;

}

 .explorer{
    background-color: #EB662B;
    border: none;
    padding: 8px;
    margin-left: 1px;
    color:white;
    height: 30px;
    width:110px ;


}
 .avantage {
     display: flex;
     margin: 50px;
 
 
 }

#adv1{
    margin-right: 30px;
}
#adv2{
    margin-right: 30px;
}
#adv3{
    margin-right: 30px;
}
#adv4{
    margin-right: 30px;
}


footer{
    background-color: #FDF0EA;
    height: 200px;
    padding-left: 30px;
    padding-top: 5px;
}
