.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Utilisation de flexbox pour afficher les éléments en ligne */
}

.navbar ul li {
    margin-right: 20px; /* Espacement entre chaque élément de la liste */
}

.navbar ul li:last-child {
    margin-right: 0; /* Supprimer la marge à droite du dernier élément de la liste */
}

.navbar ul li a {
    text-decoration: none; /* Supprimer le soulignement par défaut des liens */
    color: black; /* Couleur du texte des liens */
}
